* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova", Helvetica, sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  color: #b1b8ba;
  line-height: 27px;
}

header .link-wrapper {
  height: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .link-wrapper nav ul {
  display: flex;
  align-items: center;
  font-size: 24px;
  list-style: none;
}

header .link-wrapper nav ul li {
  padding: 10px 15px;
  line-height: 22px;
  text-transform: uppercase;
  font-size: 24px;
}

header .link-wrapper nav ul li span {
  font-size: 16px;
}

header .link-wrapper nav ul li a {
  opacity: 0.7;
  transition: opacity 350ms;
  text-decoration: none;
  color: #fff;
}

header .link-wrapper nav ul li a.login {
  background-color: #fff;
  color: #20292b;
  border: 1px solid #20292b;
  opacity: 0.9;
  padding: 10px 18px;
  transition: all 350ms;
  font-weight: bold;
}

header .link-wrapper nav ul li a.login:hover {
  color: #fff;
  background-color: #F16726;
}

header .link-wrapper nav ul li a:hover {
  opacity: 1;
}

header .link-wrapper nav ul li a.signup {
  background-color: #F16726;
  color: #fff;
  border: 1px solid #20292b;
  opacity: 0.9;
  padding: 10px 18px;
  transition: all 350ms;
  font-weight: bold;
}

header .link-wrapper nav ul li a.signup:hover {
  color: #f16726;
  background-color: #fff;
}

.hero {
  height: 100vh;
  min-height: 300px;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),url('../images/field.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hero .headline {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.hero .headline .logo-name {
  display: flex;
  align-items: center;
}

.hero .headline .logo-name .digitaldugout {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bold;
}

.hero .headline .logo-name .digitaldugout span {
  opacity: .7;
  font-weight: 100;
}

.hero .headline .tag-line h1 {
  font-size: 64px;
  line-height: 57px;
  font-weight: 100px;
  color: #fff;
  margin-top: 40px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.hero .headline .text {
  color: #A2AAAC;
  font-size: 28px;
  font-weight: 100;
  line-height: 34px;
}

.mouse-scroll-container {
  width: 25px;
  height: 50px;
  border: 3px solid #fff;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}

.mouse-scroll-container .mouse-wheel {
  position: absolute;
  background-color: #fff;
  width: 3px;
  height: 6px;
  border-radius: 25%;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  animation: mouse-scroll 2s ease-in-out infinite;
  opacity: 0;
}

.quote-section {
  background: url('/images/quote-section.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-section .quote-top {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.quote-section .quote-top i {
  color: #fff;
}

.quote-section .quote-top p {
  font-size: 40px;
  color: #fff;
  margin: 0px 10px;
}

.quote-section .quote-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-section .quote-bottom p {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  color: #fff;
  display: inline-block;
}

.quote-section .quote-bottom p::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 40px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: -60px;
  z-index: 1;
}

.quote-section .quote-bottom p::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 40px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: -60px;
  z-index: 1;
}

.scoresheets {
  position: relative;
  height: 75vh;
  width: 100vw;
}

.scoresheets .scoresheet-bg {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/Scoresheet_1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 85% 50%;
  height: 75vh;
  width: 100vw;
}

.scoresheets .scoresheet-left {
  width: 60%;
}

.scoresheets .scoresheet-left .left-details {
  width: 50%;
  margin: 0 auto;
  font-size: 24px;
}

.scoresheets .scoresheet-left .left-details .scoresheet-desc {
  line-height: 1.5;
  margin: 30px 0;
}

.scoresheets .scoresheet-left .left-details .bullet-points {
  /* margin: 30px 0; */
}

.scoresheets .scoresheet-left .left-details .bullet-points .middle-row {
  
}

.scoresheets .scoresheet-left .left-details .bullet-points .bullet-row {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.scoresheets .scoresheet-left .left-details h2 {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
    top: 5px;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    top: 20px;
  }

  100% {
    opacity: 0;
    top: 20px;
  }
}