* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px;
    background: rgba(0, 0, 0, .1);
    color: white;
}

.btn {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 36px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color .3s ease-in-out;
    border: 3px solid white;
    display: inline-block;
}

/* LOGIN */
.login-main {
    background: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),url('/images/login-bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-center {
        display: flex;
        width: 80%;
        height: 75%;

        .login-left {
            width: 60%;
            color: white;
            text-align: center;

            h1 {
                background-color: rgba(0, 0, 0, .5);
                font-size: 60px;
            }

            p {
                line-height: 1.5;
                font-size: 36px;
                padding: 0px 100px;
                margin: 30px 0px;
            }

            .btnHowToPlay {
                background-color: #743d63;
                border: 3px solid white;

                &:hover {
                    background-color: white;
                    color: #743d63;
                }
            }
        }

        .login-right {
            width: 40%;
            text-align: center;
            color: white;
            font-size: 36px;

            h2 {
                color: white;
                background-color: black;
                font-size: 60px;
            }

            .login-form {
                display: flex;
                flex-direction: column;
                width: 50%;
                margin: 0 auto;

                .form-el {
                    margin: 0px 0px 20px 0px;
                    font-size: 30px;
                    padding: 5px;
                }

                .btnLogin {
                    margin-top: 20px;
                    background-color: green;
                    border: 3px solid white;

                    &:hover {
                        background-color: white;
                        color: green;
                    }
                }

                .btnRegister {
                    background-color: red;
                    border: 3px solid white;

                    &:hover {
                        background-color: white;
                        color: red;
                    }
                }
            }
        }
    }
}

/* HOW TO PLAY */
.how-to-play {
    width: 100vw;
    background: url('/images/how-to-play.jpg');
    background-size: 100% 100%;
    background-repeat: repeat;

    h1 {
        font-size: 60px;
        text-align: center;
        padding-top: 50px;
    }

    .how-main {
        width: 80%;
        margin: 30px auto 0px auto;
        background-color: rgba(0, 0, 0, .2);

        .how-row {
            padding: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            line-height: 2;

            p {
                display: inline-block;
                width: 50%;
                font-size: 28px;
            }


        }
    }
}